@tailwind base;
@tailwind components;
@tailwind utilities;

.cat-label {
  font-family: "Playfair Display", serif;
}
.cat-view-all {
  font-family: "DM Mono", monospace;
}
.cat-section-label {
  font-family: "DM Mono", monospace;
}
